{% extends "base_premium.html" %}

{% block page_title %}Orders Received{% endblock %}

{% block content %}
<div class="cardx">
  <table class="table">
   <tr>
  <th>Order ID</th>
  <th>Book Title</th>
  <th>Author</th>
  <th>Price</th>
  <th>Date</th>
  <th>Address</th>
  <th>Phone</th>
  <th>Status</th>
  <th>Action</th>
</tr>
{% for o in orders %}
<tr>
  <td>{{ o[0] }}</td>
  <td>{{ o[1] }}</td>
  <td>{{ o[2] }}</td>
  <td>{{ o[3] }}</td>
  <td>{{ o[4] }}</td>
 <td>{{ o[5] if o[5] else '-' }}</td>
 <td>{{ o[6] if o[6] else '-' }}</td>
  <td>{{ o[7] }}</td>
  <td>
    {% if o[7] == "Pending" %}
      <a href="/update_status/{{ o[0] }}" class="btn btn-success btn-sm">
        Mark Delivered
      </a>
    {% else %}
      <span class="text-success fw-bold">✓ Completed</span>
    {% endif %}
  </td>
</tr>
{% endfor %}
  </table>

  <br>
  <a href="/seller_dashboard" class="btn btn-outline-light">Back to Dashboard</a>
</div>
{% endblock %}